<!DOCTYPE html>
<html>
<head>
    <title>Alterar Senha</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body>
  <div class="cadastro-container">
    <div class="cadastro-card">
      <img class="cadastro-logo" src="{% static 'img/LogoPreta.png' %}" alt="Treinaí">
      <div class="cadastro-title">Alterar Senha</div>
      <div class="cadastro-subtitle">Informe seu usuário e senhas</div>

      {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}

      <form method="POST">
        {% csrf_token %}
        <input class="cadastro-field" type="text" name="username" placeholder="Nome de usuário:" required>
        <input class="cadastro-field" type="password" name="old_password" placeholder="Senha antiga:" required>
        <input class="cadastro-field" type="password" name="new_password" placeholder="Nova senha:" required>
        <button class="cadastro-button" type="submit">Confirmar</button>
      </form>

      <a href="{% url 'login' %}"><button class="secondary-button" type="button">Voltar para Login</button></a>
    </div>
  </div>

</body>
</html>
