<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Treinaí{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Treinaí</h1>
        {% if not request.resolver_match.url_name == 'login' %}
            <nav>
                <a href="/treinos/">Treinos</a>
                <a href="/medalhas/">Medalhas</a>
                <a href="/perfil/atividade/">Perfil</a>
            </nav>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
        {% block extra_scripts %}{% endblock %}
</body>
</html>
